/* ==============================================================
    Colors
    Black: 000000
    Oxford Blue: 14213D
    Orange Web: FCA311
    Platinum: E5E5E5
    White: FFFFFF
================================================================= */


/* ==============================================================
                        Preloader
================================================================= */

#preloader {
    /* ---------------Overlay flud screen----------------- */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    /* -------------------------------- */
}

#status {
    background-image: url(../img/preloader/preloader-image.gif);
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    margin-left: -35px;
}


/* ==============================================================


================================================================= */


/* ==============================================================


================================================================= */


/* ==============================================================


================================================================= */


/* ==============================================================


================================================================= */